
$bar-padding: 10px;
$chip-padding: 2px;
$border-radius: 15px;
$text-color: #11111b;
$base: #1e1e2e;
$pink:   linear-gradient(120deg, #f5c2e7, #cba6f7);
$orange: linear-gradient(120deg, #fab387, #f38ba8);
$blue: linear-gradient(120deg, #89b4fa, #89dceb);
$green: linear-gradient(120deg, #94e2d5, #a6e3a1);

.chip {
    border-radius: $border-radius;
    padding: calc($chip-padding) $calc(chip-padding * 4);
}

.orange {
    background: $orange;
}

.blue {
    background: $blue;
}

.green {
    background: $green;
}

.pink {
    background: $pink;
}

/* == Bar Style  == */

.topbar {
    // background: linear-gradient(120deg, #f5c2e7, #cba6f7);
    background: transparent;
    font-size: 14px;
    font-weight: 800;
    color: $text-color;
    // padding: 2px;
    // background-color: #1e1e2e;
}

.bar {
    padding: $bar-padding;
    transition: background-color 200ms;
}

.opaque {
    background-color: $base;
    margin: calc(-1 * ($bar-padding / 2));
    padding: calc($bar-padding * 1.5);
    transition: background-color 140ms;
}



/* == Workspaces == */

.current {
    // background: $base;
    // color: rgba(0,0,0,0);
    // color: white;
    border-radius: 10px;
    transition: 200ms;
    border: 1px solid $base;
}

.work {
    transition: background-color 200ms;
    border: 2px solid transparent;
}

.workspaces {
    padding: 0px 0px;
}
